# Python

## Variables & Data Types

Up to now, we have already encountered some data types:

* In the previous tutorial, we introduced the boolean (bool) data types "True" and "False"
* Another really useful data type which often appears in programming is the text/string (str) data type, placed between quotation marks/inverted commas
* Next, we will look at numeric data types such as integers (int) and decimals (float)
* We also consider sequence data types such as lists (list), tuples (tuple) and intervals (range)
* Another interesting data type to consider is the dictionary/key-value pair (dict)
* We have already discussed sets (set), however not within the context of python programming syntax

In [2]:
 %reset

Once deleted, variables cannot be recovered. Proceed (y/[n])? y

In [8]:
x = True

print(x)
print(type(x))

True
<class 'bool'>

In [9]:
del x

In [10]:
x = "This is a string"

print(x)
print(type(x))

This is a string
<class 'str'>

In [11]:
x = 5

print(x)
print(type(x))

5
<class 'int'>

In [12]:
x = int(5)

print(x)
print(type(x))

5
<class 'int'>

In [13]:
del x

In [14]:
x = 1.234

print(x)
print(type(x))

1.234
<class 'float'>

In [41]:
x = float(1.234)

print(x)
print(type(x))

1.234
<class 'float'>

In [48]:
# Ordered, changeable, and allow duplicate values

x = ["Bob", "Rob", "Joe", 5, "Joe"]

print(x)
print(type(x))

['Bob', 'Rob', 'Joe', 5, 'Joe']
<class 'list'>

In [49]:
x[0]

'Bob'

In [50]:
x[1]

'Rob'

In [51]:
x[0] = "Jane"

x

['Jane', 'Rob', 'Joe', 5, 'Joe']

In [52]:
# Ordered, changeable, and allow duplicate values

x = ("Bob", "Rob", "Joe", 5, "Joe")

print(x)
print(type(x))

('Bob', 'Rob', 'Joe', 5, 'Joe')
<class 'tuple'>

In [53]:
x[0] = "Jane"

TypeError: 'tuple' object does not support item assignment

In [54]:
x[0]

'Bob'

In [55]:
# Ordered, changeable and do not allow duplicates

x = {
  "Bob": "Dylan",
  "Rob": "Zombie",
  "Joe": "Rogan"
}

print(x)
print(type(x))

{'Bob': 'Dylan', 'Rob': 'Zombie', 'Joe': 'Rogan'}
<class 'dict'>

In [58]:
x["Bob"]

'Dylan'

In [59]:
x["Rob"]

'Zombie'

In [60]:
# Unordered, unchangeable, and unindexed

x = {"Bob", "Rob", "Joe"}

print(x)
print(type(x))

{'Rob', 'Joe', 'Bob'}
<class 'set'>

In [64]:
x

{'Bob', 'Joe', 'Rob'}

In [65]:
x[0]

TypeError: 'set' object is not subscriptable

## Relations

***Definition:***

Given a set $X$, a relation $R$ over $X$ is a subset of ordered pairs of elements from $X$, i.e. $R ⊆ \{(x,y): x,y ∈ X\}$

The statement $(x, y) \in R$ reads "$x$ is $R$-related to $y$" usually written in infix notation as $xRy$.

* Example of a more abstract relation: Jakob Dylan is the son of Bob Dylan

  If we denote Jacob by $j$ and Bob by $b$, then using infix notation, we can write this relation as $jSb$, where $S$ is interpreted to mean "son of" <br>
  
  Notice that this relation is not symmetric, as it is not true that $bSj$ <br><br>

* Less than $<$ as in $1 < 2$ <br>

* Less than or equal to $\leq$ as in $3 \leq 3$ <br>

* Greater than $>$ as in $ 5 > 4 $ <br>

* Greater than or equal to $\geq$ as in $ 7 \geq 6 $ <br>

* Test for equality == as in $ 8 $ == $ 8 $ or $"string" == "string"$ <br>

* Test for non-equality != as in $ 8 $ != $ 9 $ <br>

* Divisibility | as in $ 3 \space | \space 9 $ but $9 \nmid 3$ <br><br>
  
* Example of a relation in set builder notation:

  Consider the two sets $A = \{9, 16, 25\}$ and $B = \{5, 4, 3, -3, -4, -5\}$ <br>
  
  The relation is that the elements of $A$ are the square of the elements of $B$
  
  In set-builder form $S = \{ (x, y): x \space \text{is the square of} \space y, x ∈ A \space \text{and} \space y ∈ B \}$
  
  In this example, the expressions $9 S 3$ and $(9, 3) \in S$ have the same meaning

In [66]:
if (2>1):
    print(True)
else:
    print(False)

True

In [67]:
if (2<1):
    print(True)
else:
    print(False)

False

In [68]:
if (1>=1):
    print(True)
else:
    print(False)

True

In [69]:
if (1>1):
    print(True)
else:
    print(False)

False

In [70]:
if (1==2):
    print(True)
else:
    print(False)

False

In [71]:
if ("string" == "string"):
    print(True)
else:
    print(False)

True

In [72]:
if ("string" == "String"):
    print(True)
else:
    print(False)

False

Relations have different properties, depending on the given interpretation of the relation itself, for example, the standard interpretation of $\geq$ on the natural numbers $\mathbb{N}$ is reflexive but $>$ is not, i.e. $\geq$ satisfies the axiom that for all $ x \in R, x R x $, but $>$ does not.

We can talk about relations for the remainder of the tutorial, but this would be outside the scope of the lesson, so we merely brief over the important aspects of relations in general and rather focus on how to implement these in the python programming language to start writing useful programs.

Not all relations will be required for all practical purposes, but to get started with programming, you should be familiar with some of the basic relations which are used regularly, such as the ones listed above.

## Operations

A set $X$ of elements is said to be closed under an operation $*$ if for any two elements $a$ and $b$ in $X$, the algebraic result $a*b$ is again in $X$

In [73]:
1+2

3

In [74]:
1.1 + 1.2

2.3

Much the same as with adequacy of logical connectives, we can express the necessary useful operations in terms of more fundamental operations such as addition & subtraction. In fact, multiplication is but repeated addition and division is but repeated subtraction. However, there is no need to restrict ourselves because python has all of these built in operations available to our disposal:

In [75]:
3-2

1

In [76]:
a = 1.9-2.7

print(round(a,1))

-0.8

In [77]:
2*3

6

In [78]:
2.2*3.3

7.26

In [79]:
2**3

8

In [80]:
4**0.5

2.0

In [81]:
import math

math.sqrt(4)

2.0

In [82]:
6/3

2.0

In [83]:
7/2

3.5

In [84]:
8.1/3.3

2.4545454545454546

## Modulo

In [85]:
4 % 2

0

In [86]:
5 % 2

1

In [87]:
6 % 3

0

In [88]:
11 % 3

2

## Incrementing  &  Decrementing

In [89]:
i = 1

i += 1

print(i)

2

In [90]:
i = 1

i = i + 1

print(i)

2

In [91]:
j = 3

j -= 2

print(j)

1

In [92]:
j = 3

j = j - 2

print(j)

1